name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: true
      PROTONVPN_SENTRY_DSN: ""
      ACCOUNT_SENTRY_DSN: ""
      TEST_ACCOUNT_PASS: "Pass"

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - uses: android-actions/setup-android@v3

      - run: chmod +x gradlew

      - run: ./gradlew --version

      - name: Build Debug
        run: ./gradlew :app:assembleProductionVanillaOpenSourceDebug --no-daemon
