name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-debug:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
        with:
          api-level: 34
          ndk: 25.2.9519653
          cmake: 3.22.1

      - name: Install SWIG
        run: sudo apt-get update && sudo apt-get install -y swig

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Debug
        run: ./gradlew assembleProductionVanillaOpenSourceDebug --no-daemon
